@import "./assets/scss/mixins";
@import "./assets/scss/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(phone) {
    font-size: 43.75%; // 1rem = 7px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(huge-desktop) {
    font-size: 87.5%; // 1rem = 14px
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem !important;
  font-family: 'Montserrat', sans-serif !important;
  background-color: $color-background !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[class^="Mui"],
svg[class^="Mui"],
span[class^="Mui"],
button[class^="Mui"],
label[class^="Mui"] {
  font-family: inherit;
  font-size: inherit;
}

::selection {
  background-color: $color-primary-background;
  color: $color-primary-font;
}
