.nav-bar__navigation__box span {
  display: none;
}

.nav-bar__checkbox {
  display: none;
}

.nav-bar__background {
  display: none;
}

.nav-bar__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 10%));
  width: 100%;

  background-image: linear-gradient(to right, rgba(162, 255, 51, 0.8), rgba(96, 162, 18, 0.8));
}

.nav-bar__button {
  font-weight: 600;
  color: #3a3a3a;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  text-shadow: 0 5px 10px rgba(30, 30, 30, 0.2);

  transition: all .2s;
}

.nav-bar__button:hover {
  text-decoration: none;
  color: #5a5a5a;
  transform: translateY(-2px);
  text-shadow: 0 8px 16px rgba(30, 30, 30, 0.3);
}

@media only screen and (max-width: 565px) {

  .nav-bar__navigation {
    display: block;
    width: 100%;
    height: 10vh;

    background-image: linear-gradient(to right, rgba(162, 255, 51, 0.8), rgba(96, 162, 18, 0.8));
  }

  .nav-bar__container {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 0;
    transform: translateX(-100px);
    grid-template-columns: 1fr;
    justify-items: center;
    z-index: 750;

    transition: opacity .2s;
  }

  .nav-bar__navigation__box {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    top: calc(5vh - 25px);
    right: calc(5vh - 25px);
    border-radius: 50%;
    background-image: linear-gradient(to right, transparent, transparent);
    z-index: 1000;

    transition: all .2s;
  }

  .nav-bar__background {
    display: block;
    position: fixed;
    height: 50px;
    width: 50px;
    top: calc(5vh - 25px);
    right: calc(5vh - 25px);
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, rgba(96, 162, 18, 1), rgba(96, 162, 18, 1));
    z-index: 500;

    transition: all .2s cubic-bezier(.86, 0, .07, 1);
  }

  .nav-bar__navigation span {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 2px;
    width: 30px;
    top: 25px;
    left: 10px;
    background-color: rgba(240, 240, 240, 0.9);

    transition: all .2s;
  }

  .nav-bar__navigation span::before {
    content: "";
    cursor: pointer;
    position: absolute;
    height: 2px;
    width: 30px;
    top: -7px;
    left: 0;
    background-color: rgba(240, 240, 240, 0.9);

    transition: all .2s;
  }

  .nav-bar__navigation span::after {
    content: "";
    position: absolute;
    cursor: pointer;
    height: 2px;
    width: 30px;
    top: 7px;
    left: 0;
    background-color: rgba(240, 240, 240, 0.9);

    transition: all .2s;
  }

  .nav-bar__navigation__box:hover span::after {
    transform: translateY(2px);
  }

  .nav-bar__navigation__box:hover span::before {
    transform: translateY(-2px);
  }

  .nav-bar__checkbox:checked ~ .nav-bar__container {
    align-content: center;
    justify-items: center;
    opacity: 1;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
    background-image: linear-gradient(to right, transparent, transparent);
  }

  .nav-bar__checkbox:checked ~ .nav-bar__background {
    transform: scale(40);
    background-image: linear-gradient(to right bottom, rgba(162, 255, 51, 1), rgba(96, 162, 18, 1));
  }

  .nav-bar__checkbox:checked ~ .nav-bar__navigation__box {
    background-image: linear-gradient(to right bottom, #282c34, #282c34);
  }

  .nav-bar__checkbox:checked + .nav-bar__navigation__box span {
    background-color: transparent;
  }

  .nav-bar__checkbox:checked + .nav-bar__navigation__box span::before {
    top: 0;
    transform: rotate(135deg);
  }

  .nav-bar__checkbox:checked + .nav-bar__navigation__box span::after {
    top: 0;
    transform: rotate(-135deg);
  }

  .nav-bar__button {
    margin: 10px;
  }
}
