// COLORS
// TODO
$color-primary: #827043;
$color-secondary: #6C7170;
$color-tertiary: #827043;

$dark-grey: rgb(30, 30, 30);

$text-shadow: 0 5px 10px rgba($dark-grey, 0.2);
$text-shadow-hover: 0 8px 16px rgba($dark-grey, 0.3);

$color-background: #FBFAF7;

// FONT
$default-font-size: 1.6rem;
