@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.header-img {
  position: relative;
  background-color: $color-background;
  font-family: 'Antic Didone';
  max-width: 100vw;
  height: calc(62vw - 4rem);

  .names {
    @include center-horizontal-vertical;
    font-size: 4.2vw;
    color: $name-text;
    top: 40%;
  }

  .date {
    @include center-horizontal-vertical;
    font-size: 1.9vw;
    color: $light-grey;
    top: 54%;

    &--1 {
      left: 44%;
    }

    &--2 {
      left: 50.7%;
    }

    &--3 {
      left: 56%;
    }
  }

  .header-rsvp-button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .3rem;
    position: absolute;
    bottom: 9vw;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 20rem;
    border-radius: 2rem;
  }
}

.response-container {
  position: relative;
  overflow: hidden;
  margin-top: -0.5vw;
  margin-bottom: 8rem;

  &__decoration {
    position: absolute;
    top: 0.3vw;
    width: 26vw;
    height: 17vw;

    &--left {
      left: -13.3vw;
      transform: rotate(83deg) scale(1,-1);
    }

    &--right {
      right: -12.3vw;
      transform: rotate(90deg);
    }
  }
}

.response-form-background {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;

  &__responded {
    padding: 6rem 0.5rem;
    text-align: center;
  }

  .heart-icon {
    font-size: 6rem;
    color: #ebbc9d;
    text-align: center;
    padding-top: 1rem;
  }
}

.plus-people-header {
  padding-left: 1rem;
}

.add-container {
  position: relative;

  &__btn {
    position: absolute;
    top: -3rem;
    right: 0;
    font-size: 2.5rem;
  }
}

.submit-response-btn-container {
  text-align: center;
}

.submit-response-btn {
  max-width: 20rem;
}
