@import "src/assets/scss/mixins";
@import "src/assets/scss/variables";

.header-img {
  position: relative;
  background-color: $color-background;
  font-family: 'Antic Didone';

  .names {
    @include center-horizontal-vertical;
    font-size: 4.2vw;
    color: $color-primary;
    top: 40%;
  }

  .date {
    @include center-horizontal-vertical;
    font-size: 1.9vw;
    color: $color-secondary;
    top: 54%;

    &--1 {
      left: 44%;
    }

    &--2 {
      left: 50.7%;
    }

    &--3 {
      left: 56%;
    }
  }
}
