.login-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-avatar {
  margin: 1rem;
  background-color: #9B8D69;
}

.login-error-message-container{
  background-color: #fcedf0;
  display: inline-flex;
  border: 1px solid lightgrey;
  padding: 1rem;
  width: 100%;

  .warning-icon{
    font-size: 3rem;
  }
  .message{
    margin: auto 1rem;
  }
}

.login-form {
  width: 100%;
  margin-top: 1rem;
}

.login-button {
  margin: 3rem 0 2rem;
}
