.login-container{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-avatar{
  margin: 1rem;
  background-color: #9B8D69;
}

.login-form{
  width: 100%;
  margin-top: 1rem;
}

.login-button{
  margin: 3rem 0 2rem;
}
