.register-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-avatar {
  margin: 1rem;
  background-color: #9B8D69;
}

.register-form {
  width: 100%;
  margin-top: 1rem;
}

.register-button {
  margin: 3rem 0 2rem;
}
