@import "src/assets/scss/variables";

.gift-list-container {
  background-color: $color-background;
  padding: 3.2rem 0 3.2rem 3.2rem;
}

.gift {
  width: 24rem;
  height: 40rem;
  display: inline-block;
  margin-right: 3.2rem;
  margin-bottom: 1.6rem;
  position: relative;

  &__title span {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__avatar {
    background-color: transparent;

    img {
      object-fit: inherit;
    }

    &--1 {
      transform: rotate(-45deg);

      img {
        width: 140%;
      }
    }

    &--2 {
      transform: rotate(20deg);

      img {
        width: 115%;
      }
    }

    &--3 {
      transform: rotate(-80deg);

      img {
        width: 120%;
      }
    }

    &--4 {
      transform: rotate(-60deg);

      img {
        width: 110%;
      }
    }
  }

  &__img {
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__description {
    font-style: italic;
  }

  &__button {
    position: absolute;
    right: .8rem;
    bottom: .8rem;
  }
}
