@import "src/assets/scss/variables";

.gift-list-container {
  background-color: $color-background;
  padding: 3.2rem 0 3.2rem 3.2rem;
}

.gift {
  width: 24rem;
  display: inline-block;
  margin-right: 3.2rem;
  margin-bottom: 1.6rem;
  position: relative;

  &__title span {
    font-weight: 600;
  }

  &__avatar {
    background-color: transparent;

    .MuiAvatar-img {
      object-fit: inherit !important;
    }

    &--1 {
      transform: rotate(-45deg);

      .MuiAvatar-img {
        width: 140% !important;
      }
    }

    &--2 {
      transform: rotate(20deg);

      .MuiAvatar-img {
        width: 115% !important;
      }
    }

    &--3 {
      transform: rotate(-80deg);

      .MuiAvatar-img {
        width: 120% !important;
      }
    }

    &--4 {
      transform: rotate(-60deg);

      .MuiAvatar-img {
        width: 110% !important;
      }
    }
  }

  &__img {
    height: 15rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
  }

  &__description {}

  &__button {
    //position: absolute !important;
    //right: .5rem;
    //bottom: .5rem;
  }
}
