.list-item {
  &-container {
    width: 80%;
    display: flex;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgba(162, 255, 51, 0.8);
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgba(135, 135, 135, 0.2);
  }

  &-title {}

  &-description {
    font-style: italic;
  }

  &-img {
    object-fit: cover;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(135, 135, 135, 0.2);
  }

  &-button {}
}
